{% load static %}
<html>
<head>
<title>admissions report page</title>
<link rel="stylesheet" href="{% static "stylesheets/style.css" %}"/>
</head>
<body>
    <h1>Hello,Welcome to add admissions page </h1>
    <img src="{%static "D:\firstProject\static\stock.jpg" %}" alt="Image Not Found"/>
    <h3>please fill below application form</h3>
    <form method="POST">
    <br>    
        <table>
            {{form.as_table}}
        </table>
        
    <br/>    
    <input type="submit" value="Add Student">
    {% csrf_token %}    
    </form>
</body>   
</html>